body
{
font-family: Arial, Helvetica, sans-serif;
font-size:13px ;
margin:0;
padding:0;    
}

a
{
text-decoration:none ;
cursor:pointer;    
}

header
{
width:100%;
height:60px;    
}

header nav
{
display:flex;
justify-content: flex-end;    
}

nav .nav-right-section
{
width:250px;
height:0 auto;
display: flex;
list-style:none ;
align-items: center;
align-content: center;    
} 

nav .nav-right-section a
{
margin-right:10px ;
color:black;    
}

main
{
text-align: center;
margin-top: 0 auto;    
}

main .main-logo img
{
width:450px;

}

main .main-buttons
{
width:530px;
margin:0 auto;    
}

main .main-buttons div
{
display:inline-block;
}

main .main-buttons button
{
height:36px;
background-color:#f2f2f2;
border:0;
font-size:14px;
color:#5f6368;
border-radius:5px;
padding:0 15px;
margin-right:15px;    
}

footer
{
display: grid;    
width:100%;
height:50px;
position:absolute;
grid-template-columns: 1fr 1fr;
bottom:0 ;
align-items: center;
font-size: 13px;
background-color:#f2f2f2 ;
border-top:1px solid #e4e4e4;    
}

footer ul
{
margin-right:10px;
list-style: none;
display:flex;
padding-left:0 ;    
}

footer ul li a
{
margin:10px;
color:#5f6368;
}

footer .footer-left
{
justify-self: left;    
}

footer .footer-right
{
justify-self:right ;    
}